<h2>
    Select your plan
</h2>
<p>
    You have the option of monthly or yearly billing.
</p>
<div class="cards">
    <div class="card" (click)="choosePlan('arcade')" [ngClass]="{'active_plan': planType === 'arcade' } ">
        <img src="assets/images/icon-arcade.svg" alt="" srcset="">
        <div class="card_wrap" *ngIf="timeFrame === 'monthly' ; else elseBlockArcade">
            <div class="card_type"> Arcade </div> <span class="card_price"> $9/mo</span>
        </div>
        <ng-template #elseBlockArcade>
            <div class="card_wrap">
                <div class="card_type"> Arcade </div> <span class="card_price"> $90/yr</span>
                <div class="card_months">2 months free</div>
            </div>
        </ng-template>
    </div>

    <div class="card" (click)="choosePlan('advanced')" [ngClass]="{'active_plan': planType === 'advanced' } ">
        <img src="assets/images/icon-advanced.svg" alt="" srcset="">
        <div class="card_wrap" *ngIf="timeFrame === 'monthly' ; else elseBlockAdv">
            <div class="card_type"> Advanced </div> <span class="card_price"> $12/mo</span>
        </div>
        <ng-template #elseBlockAdv>
            <div class="card_wrap">
                <div class="card_type"> Advanced </div> <span class="card_price"> $120/yr</span>
                <div class="card_months">2 months free</div>
            </div>
        </ng-template>
    </div>

    <div class="card" (click)="choosePlan('pro')" [ngClass]="{'active_plan': planType === 'pro' } ">
        <img src="assets/images/icon-pro.svg" alt="" srcset="">
        <div class="card_wrap" *ngIf="timeFrame === 'monthly' ; else elseBlockPro">
            <div class="card_type"> Pro </div> <span class="card_price"> $15/mo</span>
        </div>

        <ng-template #elseBlockPro>
            <div class="card_wrap">
                <div class="card_type"> Pro </div> <span class="card_price"> $150/yr</span>
                <div class="card_months">2 months free</div>
            </div>
        </ng-template>

    </div>
</div>
<div class="toogle">

    <form [formGroup]="checkForm"> 
        <span [ngClass]="{'bold': timeFrame === 'monthly' } ">Monthly</span>
        <label class="switch">
            <input (click)="toggleDuration()" type="checkbox" formControlName="toggle">
            <span class="slider round"></span>
        </label>

        <span [ngClass]="{'bold': timeFrame === 'yearly' } "> Yearly </span>
    </form>

</div>

<button class="goback_button" (click)="goBack()">Go Back </button>
<button class="confirm_button" (click)="nextStep()">Next Step </button>