h2 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

p {
    color: hsl(231, 11%, 63%);
    padding-bottom: 3rem;
    font-size: 1.6rem;
}

.confirm_button {
    padding: 1rem 2rem;
    color: hsl(217, 100%, 97%);
    background-color: hsl(213, 96%, 18%);
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 4rem;
    right: 6rem;
}

.goback_button {   
    color: grey;
   background-color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 5rem;
    left: 6rem;
}

.summary{
    background-color: #f0f6ff;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem 0;
}

.type{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.addon{
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
}

.total{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.type-desc{
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 800;
    color: black;
   
}

.type_price{
    font-size: 1.6rem;
    font-weight: 800;
    color: black;
 
}

.addons-type{
    font-size: 1.4rem;
    font-weight: 300;
    color: #9699ab;
    padding: 0.5rem 0;
}

.addons-price{
    font-size: 1.4rem;
    font-weight: 300;
    color: #9699ab;
    padding: 0.5rem 0;
}