<div class="sidebar_content">

    <div class="sidebar_list">
        <div class="sidebar_number" [ngClass]="{'active': step === 1} "> 1</div>
        <div class="sidebar_wrap"> <span class="sidebar_step">Step 1</span> Your info</div>
    </div>
    <div class="sidebar_list">
        <div class="sidebar_number" [ngClass]="{'active': step === 2} ">2</div>
        <div class="sidebar_wrap"> <span class="sidebar_step">Step 2</span> Select plan</div>
    </div>
    <div class="sidebar_list">
        <div class="sidebar_number" [ngClass]="{'active': step === 3} ">3</div>
        <div class="sidebar_wrap"> <span class="sidebar_step">Step 3</span> Add-ons</div>
    </div>
    <div class="sidebar_list">
        <div class="sidebar_number" [ngClass]="{'active': step === 4} ">4</div>
        <div class="sidebar_wrap"> <span class="sidebar_step">Step 4</span> Summary</div>
    </div>

</div>