.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
    
}

p{
    font-size: 1.4rem;
    color: #9699ab;
    text-align: center;
}

h2{
    color: #02295a;
    font-size: 2.2rem;
    padding-top: 2rem;
}

.container img {
    width: 8rem;
    height: 8rem;
}
