<h2> Pick add-ons</h2>
<p>
    Add-ons help enhance your gaming experience.
</p>

<div class="adds">
    <div class="add" (click)="chooseAddons('online')"  [ngClass]="{'active_addons': addon === 'online' }">
        <div class="add_wrap2" >

            <input type="checkbox" name="" id="">

            <div class="add_wrap">
                <span class="add_type">Online service</span>
                <span class="add_description"> Access to multiplayer games</span>
            </div>
        </div>
        <span class="add_price">+$1/mo</span>
    </div>

    <div class="add" (click)="chooseAddons('storage')"  [ngClass]="{'active_addons': addon === 'storage' }">
        <div class="add_wrap2">

            <input type="checkbox" name="" id="">

            <div class="add_wrap">
                <span class="add_type">Larger storage</span>
                <span class="add_description"> Extra 1TB of cloud save</span>
            </div>
        </div>
        <span class="add_price">+$2/mo</span>
    </div>

    <div class="add" (click)="chooseAddons('profile')"  [ngClass]="{'active_addons': addon === 'profile' }">

        <div class="add_wrap2">

            <input type="checkbox" name="" id="">

            <div class="add_wrap">
                <span class="add_type">Customizable Profile</span>
                <span class="add_description"> Custom theme on your profile</span>
            </div>
        </div>
        <span class="add_price">+$2/mo</span>
    </div>
</div>


<button class="goback_button" (click)="goBack()">Go Back </button>
<button class="confirm_button" (click)="nextStep()">Next Step </button>