h2 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}


.form_control {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

p {
    color: hsl(231, 11%, 63%);
    padding-bottom: 3rem;
    font-size: 1.6rem;
}

input {
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    width: 44rem;
}

input::placeholder{
    font-weight: 600;
}


label {
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: .5rem;
}

.confirm_button {
    /* float: right; */
    padding: 1rem 2rem;
    color: hsl(217, 100%, 97%);
    background-color: hsl(213, 96%, 18%);
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 4rem;
    right: 6rem;
}